body{
    display:flex;
    background-image : url("http://www.newsprime.co.kr/data/photos/20161145/art_1478755205.jpg");
    background-size: cover;
    flex-direction: column;
    justify-content:center;
    font-family: "East Sea Dokdo", cursive;
}
.container{
    border: 10px solid white;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(247,243,242,0.7);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height:100vh;
}
h1{
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}
.red-text{
    color:red;
}
.sub-title {
    font-size: 6vw;
    font-weight: bold;
}
.pre-title {
    font-size: 5vw;
    font-weight: bold;
    color: blue;
}
.title {
    font-size: 7vw;
    font-weight: bold;
}
.main-image{
    width:20vw;
    height:20vh;
}